[
  {sasl, [
    {sasl_error_logger, false}
  ]},

  {erlproxy, [
    {server_info, [
      {bind, {0, 0, 0, 0}},
      {port, 8888},
      {max_connections, 2},
      {servers, [
        [
          {name, "rails001"},
          {host, "localhost"},
          {port, 3000},
          {weight, 2}
        ],
        [
          {name, "rails002"},
          {host, "localhost"},
          {port, 3000},
          {weight, 1}
        ]
      ]}
    ]}
  ]}
].
