[
  {sasl, [
    {sasl_error_logger, false}
  ]},

  {erlproxy, [
    {server_info, [
      {bind, {0, 0, 0, 0}},
      {port, 9999},
      {max_connections, 16388},
      %{max_connections, 4096},
      {servers, [
        [{name, "backend001"}, {host, "127.0.0.1"}, {port, 18001}, {weight, 2}],
        [{name, "backend002"}, {host, "127.0.0.1"}, {port, 18002}, {weight, 2}],
        [{name, "backend003"}, {host, "127.0.0.1"}, {port, 18003}, {weight, 2}],
        [{name, "backend004"}, {host, "127.0.0.1"}, {port, 18004}, {weight, 2}],
        [{name, "backend005"}, {host, "127.0.0.1"}, {port, 18005}, {weight, 2}],
        [{name, "backend006"}, {host, "127.0.0.1"}, {port, 18006}, {weight, 2}],
        [{name, "backend007"}, {host, "127.0.0.1"}, {port, 18007}, {weight, 2}],
        [{name, "backend008"}, {host, "127.0.0.1"}, {port, 18008}, {weight, 2}],
        [{name, "backend009"}, {host, "127.0.0.1"}, {port, 18009}, {weight, 2}],
        [{name, "backend010"}, {host, "127.0.0.1"}, {port, 18010}, {weight, 2}],
        [{name, "backend011"}, {host, "127.0.0.1"}, {port, 18011}, {weight, 2}],
        [{name, "backend012"}, {host, "127.0.0.1"}, {port, 18012}, {weight, 2}],
        [{name, "backend013"}, {host, "127.0.0.1"}, {port, 18013}, {weight, 2}],
        [{name, "backend014"}, {host, "127.0.0.1"}, {port, 18014}, {weight, 2}],
        [{name, "backend015"}, {host, "127.0.0.1"}, {port, 18015}, {weight, 2}],
        [{name, "backend016"}, {host, "127.0.0.1"}, {port, 18016}, {weight, 2}],
        [{name, "backend017"}, {host, "127.0.0.1"}, {port, 18017}, {weight, 2}],
        [{name, "backend018"}, {host, "127.0.0.1"}, {port, 18018}, {weight, 2}],
        [{name, "backend019"}, {host, "127.0.0.1"}, {port, 18019}, {weight, 2}],
        [{name, "backend020"}, {host, "127.0.0.1"}, {port, 18020}, {weight, 2}],
        [{name, "backend021"}, {host, "127.0.0.1"}, {port, 18021}, {weight, 2}],
        [{name, "backend022"}, {host, "127.0.0.1"}, {port, 18022}, {weight, 2}],
        [{name, "backend023"}, {host, "127.0.0.1"}, {port, 18023}, {weight, 2}],
        [{name, "backend024"}, {host, "127.0.0.1"}, {port, 18024}, {weight, 2}],
        [{name, "backend025"}, {host, "127.0.0.1"}, {port, 18025}, {weight, 2}],
        [{name, "backend026"}, {host, "127.0.0.1"}, {port, 18026}, {weight, 2}],
        [{name, "backend027"}, {host, "127.0.0.1"}, {port, 18027}, {weight, 2}],
        [{name, "backend028"}, {host, "127.0.0.1"}, {port, 18028}, {weight, 2}],
        [{name, "backend029"}, {host, "127.0.0.1"}, {port, 18029}, {weight, 2}],
        [{name, "backend030"}, {host, "127.0.0.1"}, {port, 18030}, {weight, 2}],
        [{name, "backend031"}, {host, "127.0.0.1"}, {port, 18031}, {weight, 2}],
        [{name, "backend032"}, {host, "127.0.0.1"}, {port, 18032}, {weight, 2}]
      ]}
    ]}
  ]}
].
