%% ======================================================================
%%
%% Application Configurations
%%
%% ======================================================================
[
  {sasl, [
    {sasl_error_logger, false}
  ]},

  {erlproxy, [
    {server_info, [
      %% ----------------------------------------------------------------------
      %% Proxy Server's Settings
      %% ----------------------------------------------------------------------
      {port, 9999},

      {pool_connections, 4},

      {socket_options, [
        binary,
        inet,
        {packet, raw},
        {ip, {0, 0, 0, 0}},
        {reuseaddr, true},
        {nodelay, true},
        {backlog, 4096},
        {keepalive, true},
        {sndbuf, 4096},
        {recbuf, 4096},
        {active, false}
      ]},

      %% ----------------------------------------------------------------------
      %% Backend Servers Definitions
      %% ----------------------------------------------------------------------
      {backends, [
        % policy : random, roundrobin
        {policy, roundrobin},

        {socket_options, [
          binary,
          inet,
          {packet, raw},
          {keepalive, true},
          {sndbuf, 4096},
          {recbuf, 4096},
          {active, true}
        ]}
      ]},

      {servers, [
        [{name, "backend001"}, {host, "127.0.0.1"}, {port, 18001}, {weight, 2}, {timeout, 1000}],
        [{name, "backend002"}, {host, "127.0.0.1"}, {port, 18002}, {weight, 2}, {timeout, 1000}],
        [{name, "backend003"}, {host, "127.0.0.1"}, {port, 18003}, {weight, 2}, {timeout, 1000}],
        [{name, "backend004"}, {host, "127.0.0.1"}, {port, 18004}, {weight, 2}, {timeout, 1000}]
      ]}
    ]}
  ]}
].
