%% ----------------------------------------------------------------------
%%
%%
%%
%% ----------------------------------------------------------------------
{sub_dirs, ["rel"]}.


%% ----------------------------------------------------------------------
%% compiler options.
%% ----------------------------------------------------------------------
{cover_enabled, true}.


%% ----------------------------------------------------------------------
%% compiler options.
%% ----------------------------------------------------------------------
{erl_opts, [
  warnings_as_errors,
  warn_export_all,
  warn_untyped_record,
  {d, app_debug, true},
  {d, app_info, true},
  {d, app_warn, true},
  {d, app_error, true}
]}.

{xref_checks, [
  fail_on_warning,
  undefined_function_calls
]}.

{validate_app_modules, true}.


%% ----------------------------------------------------------------------
%% edoc options.
%% ----------------------------------------------------------------------
{edoc_opts, [
  {dialyzer_specs, all},
  {report_missing_type, true},
  {report_type_mismatch, true},
  {pretty_print, erl_pp}
]}.

